@charset "utf-8";
/* CSS Document */


.some-page-wrapper {
  margin-left: 20px;
  
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}


@media screen and (min-width: 600px) {
  .column {
    flex: 1
  }
	
	.column2 {
    flex: 2
  }

  .double-column {
    flex: 2
  }
}	

