@charset "utf-8";
/* CSS Document */


.some-page-wrapperbienvenidos {
  margin-left: 0px;
  
}

.rowbienvenidos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row2bienvenidos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	margin: auto;
  width: 100%;
  
	
	
}


.columnbienvenidos {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.double-columnbienvenidos {
  display: flex;
  flex-direction: column;
	padding: 10px;
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .columnbienvenidos {
    flex: 1
  }

  .double-columnbienvenidos {
    flex: 2
  }
}




/*
.una-column {
    height: 100px;
	
	
}

.dos-column {
  
  height: 100px;
	
}

.tres-column {
 
  height: 100px;
	
}

*/



