textarea {
    display: none !important;
}

.form-check-label{
    font-size:50px;
    display:none;
}

button.btn.btn-primary {
    display:none;
}

input#private-reply.form-check-input {
    display:none;
}

a[data-action=collapsible-link]{
 data-action:"";
}
